 /** 
 * Pure CSS3 Piano by Taufik Nurrohman 
 * On: 1 December 2011 
 * URL: https://hompimpaalaihumgambreng.blogspot.com/ 
 * Note: This experiment is under the God Almighty License. 
 * Please do not replace or remove the attribution above if you want to save/modify this project legally. 
 * Good luck! 
 */ 


/* 동일한 문자셋 지정 */
 @charset "utf-8";

 body { 
  background:#666; 
  background:-webkit-radial-gradient(bottom left,cover,#999,#666); 
  background:-moz-radial-gradient(bottom left,cover,#999,#666); 
  background:-ms-radial-gradient(bottom left,cover,#999,#666); 
  background:-o-radial-gradient(bottom left,cover,#999,#666); 
  background:radial-gradient(bottom left,cover,#999,#666); 
  height:500px; 
} 

/* 전체 속성 */
* { 
  margin:0px; 
  padding:0px; 
  list-style:none; 
} 

a { 
  color:indigo; 
  text-decoration:none; 
} 

/* 링크에 마우스가 닿았을 때 속성 */
a:hover { 
  text-decoration:underline; 
} 

/* Piano Wrapper */ 
/* 표준 문법만 쓴 상태 */
/* https://www.colorzilla.com/gradient-editor/ 에서 접두어 버전 추가 가능 */
.p-wrapper { 
  background:#000; 
  /* 그라데이션 각도, 색상, 색상점의 위치 */
  background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%); 
  width:1300px; 
  position:relative; 
  box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
  border:2px solid #333;
}

/* piano body */
ul.piano { 
  display:block; 
  width:100%; 
  height:240px; 
  border-top:2px solid #222; 
  z-index: 20;
} 

/* white key */
ul.piano li.white {
  display:block;
  position:relative;
  float:left; 
  height:220px;
  width:40px; 
  background:#fff;
  border:1px solid rgb(156, 155, 155);
  border-radius:0 0 5px 5px; 
}

/* 조명 자리 */
ul.effect li.light {
  display:block;
  position:relative;
  float:left; 
  top:-35px;
  height:220px;
  width:40px; 
  /* background:#fff;
  border:1px solid rgb(156, 155, 155);
  border-radius:0 0 5px 5px;  */
}

/* 조명 활성화 */
.light.active_key {
  display:block;
  position:relative;
  float:left; 
  top:-35px;
  height:220px;
  width:40px; 
  background:rgb(197, 149, 199, 0.7);
  border-radius:0 0 5px 5px; 
}


/* white key when is pushed*/
.white.active_key {
  display:block;
  position:relative;
  height:216px;
  border-top: 2px solid rgb(156, 155, 155);
  box-shadow:0 3px 2px rgba(0,0,0,0.4);
}

/* black key */
ul.piano span.black {
  display:block;
  position:absolute;

  left:30px;
  height:120px;
  width:20px;
  background:#333;
  background:linear-gradient(-20deg,#333,#000,#333);
  border-width:1px 2px 7px;
  border-style:solid; 
  border-color:#666 #222 #111 #555; 
  /* 위로 올리기 위해서 */
  z-index:10; 
}

/* black key when is pushed*/
.black.active_key {
  display:block;
  position:absolute;
  top:-1px;
  left:30px;
  height:120px;
  width:20px;
  background:#333;
  background:linear-gradient(-20deg,#333,#000,#333);
  border-width:1px 2px 4px;
  border-style:solid; 
  border-color:#666 #222 #111 #555; 
  z-index:10; 
}